site_name: snaplot
site_url: https://y-sunflower.github.io/snaplot/
repo_url: https://github.com/y-sunflower/snaplot

theme:
  name: material
  custom_dir: overrides
  features:
    - content.code.copy
    - navigation.path
    - content.footnote.tooltips
    - navigation.expand
  icon:
    repo: fontawesome/brands/github

watch:
  - snaplot
  - docs
  - overrides

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            show_source: false
            show_root_heading: true
            heading_level: 3

nav:
  - Home: index.md
  - Reference: camera.md

extra_css:
  - stylesheets/style.css

markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
