<footer class="custom-footer">
  <div class="footer-container">
    <p class="footer-description">
      <code>snaplot</code> is a project developed and maintained by
      <a href="https://ysunflower.com" target="_blank" class="yellow-sunflower"
        ><span class="yellow">yellow</span>
        <span class="sunflower">sunflower</span></a
      >, an open source and data consulting company.
    </p>
    <hr class="footer-hr" />
    <p class="copyright">
      &copy; 2025
      <a target="_blank" href="https://ysunflower.com">yellow sunflower</a>. All
      rights reserved.
    </p>
  </div>
</footer>
